/* BASE */

body {
    padding: 0px;
    margin: 0px;
    background-color: #191a21;
    font-family: 'Trebuchet MS', sans-serif;
    color: white;
}

/* HEADER */

#header {
    background-color: #282a36;
    position: fixed;
    width: 100%;
}

#header ul {
    margin: 0;
    padding: 0;
    overflow: hidden;
    list-style-type: none;
}

#header li {
    float: left;
}

#header li a {
    display: block;
    color: white;
    padding: 16px;
    text-decoration: none;
}

#header li a:hover {
    background-color: #21222c;
}

#header #headerLogo {
    padding: 11.5px 20px;
}

#header #headerLogo img {
    vertical-align: middle;
}

#headerLogo:hover img {
    filter: invert(100%);
}

#header .active {
    background-color: #2eff00;
    color: black;
    font-weight: bold;
}

#header .active:hover {
    background-color: #24c900;
}

/* PORTFOLIO */

#portfolioTable {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
    padding: 10px;
}

#portfolioTable table{
    border-spacing: 15px;
    width: 100%;
}

#portfolioTable td, #portfolioTable th {
    width: 33%;
    vertical-align: top;
}

#portfolioTable th {
    font-size: larger;
}

#portfolioTable img {
    width: 100%;
}

#topPadding {
    padding-top: 50px;
}

/* FOOTER */

#footer {
    background-color: #282a36;
    padding: 40px;
    width: 100% - 80px;
    text-align: center;
}

#footer a {
    color: white;
}

/* BIG LINK */

.bigLink {
    padding: 25px;
    padding-top: 0px;
    text-align: center;
}

.bigLink a {
    background-color: #2eff00;
    color: black;
    font-weight: bolder;
    padding: 15px;
    font-size: large;
    text-decoration: none;
    display: inline-block;
}

.bigLink a:hover {
    background-color: #24c900;
}