  div {
    padding-left: 21px;
    padding-right: 21px;
    padding-top: 1px;
    padding-bottom: 21px;
  }
  
  p, h1, h2, h3, td, th {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', sans-serif;
  }

  h1, h2, h3, th {
    text-decoration: underline;
  }

  img {
    width: 100%;
  }

  .roundedImage {
    border-radius: 16px;
  }

  .largerText {
    font-size: x-large; 
    height: 50px;
  }

  .portfolio {
    background-color: aliceblue;
  }

  .about {
    background-color: rgb(255, 206, 206);
  }

  #portfolioPage {
    margin: auto;
    max-width: 700px;
    padding: 10px;
  }

  #homePage {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 700px;
}